{% extends "layout.html" %}

{% block content %}
<table class="table table-hover sortable-theme-minimal" data-sortable>
    <thead>
        <tr>
            <th>ID</th>
            <th>Bounty</th>
            <th>Time Added</th>
            <th>Link</th>
        </tr>
    </thead>
    <tbody>
    {% for request in requests %}
    <tr>
        <th scope="row">{{ request.id }}</th>
        <td>{{ request.bounty }}</td>
        <td>{{ request.timeAdded }}</td>
        <td><a href="https://what.cd/requests.php?action=view&id={{ request.id }}"><i class="fa fa-external-link"></i></a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
